logs/*
*.log
__pycache__*
results/*
datasets/*
checkpoints*
best_ckpt*
data/*
*.tar
wandb
.vscode/*
profile.svg
core.*
*.out
hostfile
.deepspeed*
.deepspeed_env
trace_*.json
*.bak
.DS_Store
cache
train_datasets
mllmTeam
data
inference_demo.py
eval